#student-list,
#student-list-packages {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, minmax(0px, 1fr));
  gap: 10px;
  max-width: 100%;
}

input {
  margin-top: 10px !important;
}

.attended {
  background-color: rgb(72, 128, 251);
}

#search-input {
  margin-top: 20px;
}

.btn {
  border: 1px solid black !important;
}